@model IEnumerable<ApplicationUser>
<div class="tbr fwcolor" >
    <hr />
      <table class="table tbl">
        <tbody>
          @foreach (var item in Model) 
          {
           <tr class="tbr fwcolor">
              <td>
               <div class="card bgcolor fwcolor">
                   <div class="card-body">
                    <div class="h5 d-inline">@Html.DisplayNameFor(modelitem=>item.UserName) :</div>
                    <div class="d-inline">@Html.DisplayFor(modelItem => item.UserName)</div>
                    <br>
                    <div class="h5 d-inline">@Html.DisplayNameFor(modelitem=>item.Email) :</div>
                    <div class="d-inline">@Html.DisplayFor(modelItem => item.Email) </div>
                   </div>
               </div> 
             </td>
          </tr>
        }
       </tbody>
    </table>
</div>
