@model Lms.Core.ViewModels.Courses.CourseViewModel
@{
    Layout = "_Layout.cshtml";
}
<br /><br /><br />
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-sm-6">
<div class="CreateContainer">
    <h1 class="fwcolor">Create Course</h1>
        <form asp-action="CreateCourse" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br />
            <div class="form-group">
                <div class="input-group">
                <label asp-for="Name" class="control-label Labelcol"></label> &nbsp;&nbsp;&nbsp;
                <div class="input-group-append">
                <input asp-for="Name" class="form-control txt " />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <br /><br />
            <div class="form-group">
                <div class="input-group">
                <label asp-for="Description" class="control-label Labelcol"></label>&nbsp;&nbsp;&nbsp;
                <div class="input-group-append">
                <input asp-for="Description" class="form-control txt" />
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <br /><br />
            <div class="form-group">
                <div class="input-group">
                <label asp-for="StartDate" class="control-label Labelcol"></label>&nbsp;&nbsp;&nbsp;
                <div class="input-group-append">
                <input asp-for="StartDate" class="form-control txt" />
                </div>
                <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
            </div>
            <br /><br />
            <div class="form-group text-align">
                <a asp-action="Add_Course_Module_Activity" class="btn btn-danger" > Cancel </a>&nbsp;
                 <a id="coursetimeline" class="btn bbcolor fwcolor" > Show Timeline </a>&nbsp;    
                <input type="submit" value="CreateCourse" class="btn bbcolor fwcolor" />
                <br />
            </div>
            
            </form>
           
     </div>   
</div>
<div class="col-sm-6" >
<div >
<partial name="CalenderTimeLine"  />
</div>
</div>
</div>
@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
