@{
    Layout = "/Views/Shared/_MasterLayout.cshtml"; 
}

@*<head>

    <link rel="stylesheet" href="~/css/CourseStyle.css" asp-append-version="true" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.js'></script>  
        <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" />  

</head>*@

<body>
@RenderBody()
    @await RenderSectionAsync("Scripts", required: false);
</body>

