@page
@model DownloadPersonalDataModel
<head>
    <link rel="stylesheet" href="~/css/Manage.css" asp-append-version="true" />
</head>

@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
<h3 class="Fcol_white">@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
