@{
    Layout = "/Views/Shared/_MasterLayout.cshtml"; 
}

<p>>_Layout</p>
<div class="sidenav">
    
    @if (User.Identity.IsAuthenticated)
    {
        var userId = userManager.GetUserId(User);

        @await Component.InvokeAsync("ModulesVC", new {userId})
    }
    else
    {
        <p>You must be signed in to view this content.</p>
    }
</div>

<div class="container-fluid mainBody">
    <h2>Activities</h2>
    @RenderBody()
</div>

