html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
     font-size: 16px; 
  }
}

html {
    position: relative;
    min-height: 100%;
    
}

body {
    margin-bottom: 60px;
}
.nav-pills {
    background:grey !important
}
.nav-link {
    color: white !important;
}
.navbar {
    background: linear-gradient(#16637C, #305763) !important;
    height: 4rem;
    z-index: 2;
    position: fixed;
    width: 100%;
    border-block-end: none;
    border-block-color: none;
    border-block: none;
    margin-bottom: 1rem;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5) !important;
}
.logo {
    height: 60px;
}


::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #484948;
}


::-webkit-scrollbar-thumb {
    background: #888;
}

      
::-webkit-scrollbar-thumb:hover {
        background: #555;
}


