@model IEnumerable<Module>
    <ul>
                @foreach (var item in Model)
                {
                    <li class="row">
                        <a asp- asp-route-id="(@item.Id)">&#x1F6C8 @Html.DisplayFor(model => item.Name)</a>
                    </li>
                }
    </ul>

