@{
    Layout = "/Views/Shared/_MasterLayout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/css/AdminCourseStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CourseStyle.css" asp-append-version="true" />
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" />

    @if (IsSectionDefined("Styles"))
    {
        @await RenderSectionAsync("Styles", required: false)
    }
}
<section class="pt-5">
    <div class="pt-4">
        @RenderBody()
    </div>
</section>

@section Scripts {
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.js'></script>


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @if (IsSectionDefined("Scripts"))
    {
        @await RenderSectionAsync("Scripts", required: false)
    }
}
