@page "{id}"
@model ActivitiesModel


<div class="container">
    <ul class="row">

@{
    foreach (var activity in Model.Activities)
    {
        <li class="card">
           <p class="card-header">@Html.DisplayFor(model => activity.Name)</p>
           <p class="card-header">@Html.DisplayFor(model => activity.StartDate)</p>
           <p class="card-header">@Html.DisplayFor(model => activity.EndDate)</p>
        </li>
    }
}
</ul>
</div>

